In [1]:
import pandas as pd

In [5]:
df_train_split = pd.read_csv('train_split.csv')

df_train_split.columns

len(df_train_split)

df_test_split = pd.read_csv('test_split.csv')
df_test_split.columns
len(df_test_split)

/tmp/ipykernel_17479/2403237533.py:1: DtypeWarning: Columns (19,24,52,55,58) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train_split = pd.read_csv('train_split.csv')
/tmp/ipykernel_17479/2403237533.py:7: DtypeWarning: Columns (52,55,58) have mixed types. Specify dtype option on import or set low_memory=False.
  df_test_split = pd.read_csv('test_split.csv')

39867

In [6]:
df_train_split.describe()

,id,dormitorios,banos,precio,anio_construccion,codigo_postal,longitud,latitud,area_habitable,tamano_lote,...,conteo_fotos,conteo_vistas_recorrido,dias_en_portal,datos_residenciales_alcantarillado,datos_residenciales_fuente_agua,numero_unidad,pies_cuadrados,fecha_disponibilidad,oferta_especial,dias_en_portal_detalle
count,110000.000000,102884.000000,106172.000000,1.099680e+05,9003.000000,110000.000000,109666.000000,109666.000000,102508.000000,7.765000e+04,...,110000.000000,109963.000000,109968.000000,0.0,0.0,0.0,0.0,0.0,0.0,109886.000000
mean,55000.500000,2.939116,2.417070,7.451507e+05,2008.608020,33438.614909,-81.700261,27.720004,1809.955496,2.991525e+05,...,34.996864,0.190782,128.431416,NaN,NaN,NaN,NaN,NaN,NaN,128.486531
std,31754.409143,1.262672,6.875272,2.191973e+06,675.901256,784.872605,1.564072,1.485288,1968.265071,1.433987e+07,...,20.516846,15.505444,158.134698,NaN,NaN,NaN,NaN,NaN,NaN,158.168976
min,1.000000,0.000000,0.000000,0.000000e+00,0.000000,32003.000000,-111.477200,24.548346,0.000000,0.000000e+00,...,0.000000,0.000000,-33.000000,NaN,NaN,NaN,NaN,NaN,NaN,-33.000000
25%,27500.750000,2.000000,2.000000,2.499000e+05,1988.000000,32909.000000,-82.336218,26.424290,1152.000000,5.847000e+03,...,21.000000,0.000000,32.000000,NaN,NaN,NaN,NaN,NaN,NaN,32.000000
50%,55000.500000,3.000000,2.000000,3.989970e+05,2018.000000,33426.000000,-81.614458,27.704355,1576.000000,9.147000e+03,...,33.000000,0.000000,83.000000,NaN,NaN,NaN,NaN,NaN,NaN,83.000000
75%,82500.250000,4.000000,3.000000,6.500000e+05,2025.000000,33974.000000,-80.334870,28.708632,2148.000000,1.452075e+04,...,47.000000,0.000000,168.000000,NaN,NaN,NaN,NaN,NaN,NaN,168.000000
max,110000.000000,91.000000,2204.000000,2.850000e+08,65535.000000,35459.000000,-70.615395,46.833220,418176.000000,1.897474e+09,...,209.000000,3384.000000,4908.000000,NaN,NaN,NaN,NaN,NaN,NaN,4908.000000